Makefile.in
m4/
intltool*
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it

